{% extends 'dashboard/layout.html' %}
{% load django_bootstrap5 %}

{% block tabs %}
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:category_list' %}">列表</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:category_create' %}">新增</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" aria-current="page">删除</a>
    </li>
</ul>
{% endblock %}

{% block box %}
<p>您确定要删除 "{{ category }}" 吗?</p>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_button button_type="submit" content="确认删除" button_class="btn-danger" %}
</form>
{% endblock %}